.carousel
{
	width: 100%;
	height: $carousel-height;
	position: relative;

	& > ul
	{
		width: 100%;
	}

	&__item
	{
		display: none;
		width: 100%;
		background-color: $secondary-color;

		&--current
		{
			display: inline-block;
		}

		& > img
		{
			background-color: $main-light;
		    object-fit: cover;
		    overflow: hidden;
		    width: 100%;
		    height: $carousel-height;
		    display: block;
		    opacity: 0.9;
		}

		&__info
		{
			position: absolute;
			left: 5em;
			bottom: 3em;
			text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
            width: 60%;
            display: none;

			&__title
			{
				color: $main-light;
				font-size: 2.5em;
				font-weight: 700;
				font-family: $text-font;
				margin-bottom: 0.3em;
			}
			
			&__description
			{
				color: $main-light;
				font-size: 1em;
				font-weight: 400;
				font-family: $text-font;
			}
		}
	}

	&__button
	{
		font-size: 4em;
		color: $main-light;
		position: absolute;
		bottom: $carousel-height / 2 - 25px;
		width: 50px;
		transition: color 0.3s;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);

		&:hover
		{
			cursor: pointer;
			color: $secondary-color;
		}
		
		&--previous
		{
			left: 15px;
		}
		
		&--next
		{
			right: 15px;
		}
	}
}